body {
  background: url('https://picsum.photos/1900/1260?blur=4') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.jumbotron {
    margin: 90px;
    opacity: 0.8;
}
.navbar{
    opacity: 0.9;
}